<div class='container'>
    <div class='lesson-nav__inner'>
        <div class="lesson-nav__prev">
            <a href="" class="lesson-nav__link">Предыдущий урок</a>
            <div class="lesson-card">
                @@include('cards/_lesson-card.html',{"img":"lesson2","title":"Подснежники","num":"урок 3-4"})
            </div>
        </div>
        <div class="lesson-nav__next">
            <a href="" class="lesson-nav__link">Следующий урок</a>
            <div class="lesson-card">
                @@include('cards/_lesson-card.html',{"img":"lesson4","title":"Польза растений и бережное отношение к ним","num":"урок 7-8"})
            </div>
        </div>
    </div>
</div>