@import "vars";
.lesson-field {
    min-height: 500px;
    flex-grow: 1;
    padding: 54px 60px;
}

.research {
    .lesson {
        &__title {
            margin-left: 0;
        }
        &__nav {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        &__next {
            margin: 0;
        }
    }
}